@import "~include-media/dist/_include-media.scss";
@import "variables";
@import "middle-content";
@import "header-blue-section";
@import "main-footer";
@import "contact-form";
@import "main-navbar";

.bg-light {
  background-color: #fff !important;
}

.header-family {
  background-image: url("../assets/family.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 730px;

  @include media("<desktop") {
    height: 330px;
  }
}

.middle-bg {
  @include media(">=desktop") {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    height: 484px;
    background-size: contain;
    background-position: right;
    margin-top: 162px;
  }
}

.orange-custom {
  color: $orange-custom !important;
}

.phone-number {
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 26px;
  color: $orange-custom;
  font-weight: 700;
  font-family: "Lato";
}
