@import "~include-media/dist/_include-media.scss";
@import "variables";

.bg-light {
  background-color: #fff !important;
}

#navbarNav {
  @include media(">=desktop") {
    margin-top: 42px !important;
  }
}

.navbar-brand {
  @include media(">=desktop") {
    margin-right: 34px !important;
  }
}

.nav-item {
  a {
    color: #1c3e95 !important;
    font-family: "Lato" !important;
    font-weight: 500 !important;

    &:hover {
      color: $orange-custom !important;
    }

    @include media(">=desktop") {
      font-size: 24px !important;
      line-height: 26px !important;
      margin-right: 10px !important;
    }
    @include media("<desktop") {
      font-weight: 700 !important;
    }
  }
}

.header-family {
  background-image: url("../assets/family.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 730px;

  @include media("<desktop") {
    height: 330px;
  }
}

.header-blue-section {
  background-color: rgba(79, 101, 163, 0.85);
  width: 100%;

  @include media(">=desktop") {
    height: 258px;
  }
  h1 {
    color: $orange-custom;
    font-size: 52px;
    line-height: 56px;
    font-weight: 700;
    font-family: "Quicksand";

    @include media(">=desktop") {
      margin: 70px 0 0 370px;
    }
    @include media("<desktop") {
      font-size: 32px;
      line-height: 36px;
      margin-left: 8%;
      padding: 20px 20px 0 0;
    }
  }
  p {
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 700;
    font-family: "Quicksand";

    @include media(">=desktop") {
      margin: 0 0 0 370px;
      width: 590px;
    }
    @include media("<desktop") {
      margin-left: 8%;
      padding-right: 20px;
    }
  }
}

.middle-content {
  @include media(">=desktop") {
    margin: -160px 0 0 370px;
    position: absolute !important;
  }
  @include media("<desktop") {
    margin-left: 8%;
    margin-right: 8%;
    padding: 0 0px 40px 0;
  }
  h2 {
    font-size: 63px;
    line-height: 68px;
    color: #1c3e95;
    font-weight: 700;
    font-family: "Quicksand";

    @include media(">=desktop") {
      margin-top: 60px;
    }
    @include media("<desktop") {
      font-size: 33px;
      line-height: 38px;
    }
  }
  span {
    display: block;
    font-size: 34px;
    line-height: 40px;
    color: #1c3e95;
    font-weight: 700;
    font-family: "Quicksand";

    @include media(">=desktop") {
      margin-top: 40px;
    }
    @include media("<desktop") {
      margin-bottom: 10px;
    }
  }
  p.bold {
    font-size: 17px;
    line-height: 28px;
    color: #161616;
    font-weight: 700;
    font-family: "Lato";

    @include media(">=desktop") {
      margin-top: 20px;
    }
  }
  p {
    font-size: 17px;
    line-height: 28px;
    color: #161616;
    font-weight: 500;
    font-family: "Lato";

    @include media(">=desktop") {
      width: 792px;
    }
  }
  button {
    width: 280px;
    height: 56px;
    border-radius: 10px;
    background: $orange-custom;
    border: none;
    font-size: 17px;
    color: #fff;
    line-height: 21px;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
    margin-top: 45px;

    @include media("<desktop") {
      width: 205px;
      height: 48px;
      margin-top: 10px;
      padding: 10px;
    }
  }
} /* end .middle-content*/

.middle-bg {
  @include media(">=desktop") {
    background-image: url("../assets/home.jpg");
    background-repeat: no-repeat;
    height: 484px;
    background-size: contain;
    background-position: right;
    margin-top: 162px;
  }
}

#main-footer {
  background-color: #1c3e95;
  border: 1px solid #707070;

  @include media(">=desktop") {
    height: 315px;
    padding: 60px 0 0 370px;
  }
  .links {
    @include media(">=desktop") {
      width: 1240px;
    }
    @include media("<desktop") {
      margin-left: 8%;
      padding: 20px 20px 20px 0;
    }
  }
  .col-sm {
    @include media("<desktop") {
      padding: 0px 20px 20px 0 !important;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    font-weight: 700;
    font-family: "Quicksand";

    @include media("<desktop") {
      color: rgb(173, 173, 173);
    }
  }
  a {
    display: block;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Lato";

    &:hover {
      color: $orange-custom;
    }
  }
} /* end #main-footer */

.orange-custom {
  color: $orange-custom !important;
}

.phone-number {
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 26px;
  color: $orange-custom;
  font-weight: 700;
  font-family: "Lato";
}

.contact-form {
  border-radius: 10px;
  filter: drop-shadow(0px 8px 27.5px rgba(22, 22, 22, 0.08));
  background-color: #fff;
  padding: 40px;
  margin: 0 0 64px 0;

  @include media(">=desktop") {
    width: 489px;
    position: absolute;
    right: 360px;
    top: 180px;
  }
  @include media("<desktop") {
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
  }
  h2 {
    font-size: 24px;
    line-height: 26px;
    color: #1c3e95;
    font-weight: 700;
    font-family: "Quicksand";
    margin: 0 0 25px 0;

    @include media(">=desktop") {
      width: 409px;
      height: 56px;
    }
    @include media("<desktop") {
      margin: 0 0 25px 0;
    }
  }
  input {
    margin: 0 0 10px 0;
    border: 1px solid #979494;
    width: 100%;

    @include media(">=desktop") {
      padding: 15px;
    }
    @include media("<desktop") {
      padding: 10px;
    }
    &::placeholder {
      font-size: 17px;
      line-height: 26px;
      color: #161616;
      font-weight: 500;
      font-family: "Lato";
    }
    &#name,
    &#mail,
    &#phone {
      @include media(">=desktop") {
        width: 100%;
        height: 48px;
      }
    }
    &#city,
    &#post-code {
      @include media(">=desktop") {
        width: 240px;
        height: 48px;
        width: 240px;
      }
    }
    &#post-code {
      @include media(">=desktop") {
        margin: 0 0 0 16px;
        width: 146px;
      }
    }
    &#confirm {
      width: 17px;
      height: 17px;
      float: left;
      margin: 0 10px 0 0;
    }
    &[type="submit"] {
      background: $orange-custom;
      border: none;
      color: #fff;
      width: 205px;
      height: 48px;
      border-radius: 10px;
      font-size: 17px;
      line-height: 21px;
      font-weight: 700;
      font-family: "Quicksand";
      text-align: center;
      padding: 10px;
      margin-top: 10px;

      @include media(">=desktop") {
        margin-left: 100px;
      }
    }

    p {
      @include media(">=desktop") {
        width: 378px;
        height: 142px;
        font-size: 13px;
        line-height: 18px;
        color: #626262;
        font-weight: 300;
        font-family: "Lato";
        display: inline-block;
      }
    }
  } /* end .contact-form */
}
