
#navbarNav {
    @include media(">=desktop") {
      margin-top: 42px !important;
    }
  }
  
  .navbar-brand {
    @include media(">=desktop") {
      margin-right: 34px !important;
    }
  }
  
  .nav-item {
    a {
      color: #1c3e95 !important;
      font-family: "Lato" !important;
      font-weight: 500 !important;
  
      &:hover {
        color: $orange-custom !important;
      }
  
      @include media(">=desktop") {
        font-size: 24px !important;
        line-height: 26px !important;
        margin-right: 10px !important;
      }
      @include media("<desktop") {
        font-weight: 700 !important;
      }
    }
  }
  